<script src="https://kit.fontawesome.com/095e7acecf.js" crossorigin="anonymous"></script>

<nav>
    <div class="sidebar">
        <ul class="sidebar_items">
            <li class="item ham">
                <i class="fas fa-bars"></i> <!-- Icône de menu hamburger -->
            </li>
            <li class="item">
                <a href="#section1"><span class="nombres">Create account demandes</span></a>
            </li>
            <li class="item">
                <a href="#section2"><span class="nombres">Modifie account demandes</span></a>
            </li>
            <li class="item">
                <a href="#section3"><span class="nombres">Desactivate account demandes</span></a>
            </li>
        </ul>
        <ul class="logout">
            <li class="item">
                <a href="home">
                    <span class="nombres">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="table-container" style="margin-left: 250px;">
    <h2 id="section1">Create Account Requests</h2>
    <table id="table1" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of listRequestUsers">
                <th scope="row">{{user.id}}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <button class="btn btn-accept" (click)="submitRequestUser(user.id,true)">Accept</button>
                    <button class="btn btn-refuse">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="section2">Modify Account Requests</h2>
    <table id="table2" class="table">
        <thead>
            <tr >
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Message</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listRequestContactUpdate">
                <th scope="row">{{item.id}}</th>
                <td>{{ item.user.name }}</td>
                <td>{{item.message}}</td>
                <td>
                    <button class="btn btn-accept" (click)="validateContact(item.id,true)">Accept</button>
                    <button class="btn btn-refuse" (click)="validateContact(item.id,false)">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>

  <h2 id="section3">Deactivate Account Requests</h2>
  <table id="table3" class="table">
    <thead>
    <tr >
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Message</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listRequestContactDelete">
      <th scope="row">{{item.id}}</th>
      <td>{{ item.user.name }}</td>
      <td>{{item.message}}</td>
      <td>
        <button class="btn btn-accept" (click)="validateContact(item.id,true)">Accept</button>
        <button class="btn btn-refuse" (click)="validateContact(item.id,false)">Refuse</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 id="section5">Deactivate Account Requests</h2>
  <table id="table5" class="table">
    <thead>
    <tr >
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Message</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listRequestContactOther">
      <th scope="row">{{item.id}}</th>
      <td>{{ item.user.name }}</td>
      <td>{{item.message}}</td>
      <td>
        <button class="btn btn-accept" (click)="validateContact(item.id,true)">Accept</button>
        <button class="btn btn-refuse" (click)="validateContact(item.id,false)">Refuse</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 id="section6">Deactivate Account Requests</h2>
  <table id="table6" class="table">
    <thead>
    <tr >
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">quantity</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listRequestContactOther">
      <th scope="row">{{item.id}}</th>
      <td>{{ item.user.name }}</td>
      <td>{{item.message}}</td>
      <td>
        <button class="btn btn-accept" (click)="validateContact(item.id,true)">Accept</button>
        <button class="btn btn-refuse" (click)="validateContact(item.id,false)">Refuse</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 id="section4">Checkbook Requests</h2>
  <table id="table4" class="table"taw>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listRequestCheckBook">
      <th scope="row">{{ item.id}}</th>
      <td>{{ item.bankAccount.user.name}}</td>
      <td>{{ item.quantity }}</td>
      <td>
        <button class="btn btn-accept" (click)="submitRequestCheckbook(item.id,true)">Accept</button>
        <button class="btn btn-refuse" (click)="submitRequestCheckbook(item.id,false)">Refuse</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 id="section7">Credit Card Requests</h2>
  <table id="table7" class="table"taw>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Annual Income</th>
      <th scope="col">Request Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listRequestCreditCards">
      <th scope="row">{{ item.id}}</th>
      <td>{{ item.annualIncome}}</td>
      <td>{{ item.createDate | date :'dd/MM/YYYY HH:mm' }}</td>
      <td>
        <button class="btn btn-accept" (click)="submitRequestCreditCard(item.id,true)">Accept</button>
        <button class="btn btn-refuse" (click)="submitRequestCreditCard(item.id,false)">Refuse</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

