<h1 class="title">Contact Us</h1>


<div class="contact">
        <div class="cover"></div>
            <div class="contact-container">
                <div class="message-form">
                    <div class="form">
                        <form>
                            <div class="form-group">
                            <label for="name" class="label">Full Name :</label>
                            <input type="text" id="name" formControlName="name" placeholder="Nom" class="input">
                            <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)"
                                class="text-danger">
                                Le nom est requis
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="label">Email :</label>
                            <input type="email" id="email" formControlName="email" placeholder="Email" class="input">
                            <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)"
                                class="text-danger">
                                Veuillez entrer une adresse email valide
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label">Subject :</label>
                            <div class="box">
                                <div class="custom-select-container">
                                    <select class="custom-button">
                                        <option>Account Modification </option>
                                        <option>Account Desactivation</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="subjectControl.invalid && (subjectControl.dirty || subjectControl.touched)"
                                class="text-danger">
                                Subject is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="label">Message :</label>
                            <textarea id="message" formControlName="message" placeholder="Message"
                                class="input"></textarea>
                            <div *ngIf="messageControl.invalid && (messageControl.dirty || messageControl.touched)"
                                class="text-danger">
                                
                                Message is required
                            </div>
                        </div>
                        <button type="submit" class="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
