<div class="cover"></div>

<div class="tl">TRANSACTION LOG</div>
<div class="transaction-log"></div>

    <div class="log-container">
        <table>
            <tr>
                <th>ID</th>
                <th>SENDER</th>
                <th>RECEIVER</th>
                <th>AMOUNT</th>
                <th>DATE & TIME</th>
            </tr>
            <tr *ngFor="let entry of transactionLogEntries">
                <td>{{ entry.idTransaction }}</td>
                <td>{{ entry.bankAccountSender.user.name }}</td>
                <td>{{ entry.bankAccountReceiver.user.name }}</td>
                <td>{{ entry.amount }}</td>
                <td>{{ entry.date | date :'dd/MM/YYYY hh:mm' }}</td>
            </tr>
        </table>
    </div>
