<!-- loan-request.component.html -->
<div class="cover"></div>

<div class="loan-request">
  <div class="loan-request-container">
    <h2 class="title">Loan Request</h2>
    <!-- <tabset>
      <tab heading="Physical Person"> -->
        <form class="request-form">
          <div class="form-group">
            <label class="label" for="cni">ID Card</label>
            <input type="text" id="cni" class="input" />
          </div>
          <div class="form-group">
            <label class="label" for="cnss">NSSF</label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="cnss" class="input-file" accept=".pdf,.jpg,.png" />
                Joindre un fichier
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="quittance">Annual receipt </label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="quittance" class="input-file" accept=".pdf,.jpg,.png" />
                Joindre un fichier
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="releve">Account statement</label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="releve" class="input-file" accept=".pdf,.jpg,.png" />
                Attach a file
              </label>
            </div>
          </div>
          <button type="submit" class="button">Submit</button>
        </form>
      <!-- </tab> -->
       <!-- Form for moral person -->
       <!-- Form for moral person -->
      
      <!-- <tab heading="Moral Person"> -->
        <form class="request-form">
          <div class="form-group">
            <label class="label" for="rne">RNE</label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="rne" class="input-file" accept=".pdf,.jpg,.png" />
                Attach a file
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="statue">Statue</label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="statue" class="input-file" accept=".pdf,.jpg,.png" />
                Attach a file
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="patente">Patent</label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="patente" class="input-file" accept=".pdf,.jpg,.png" />
                Attach a file
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="bilans">The balance sheets</label>
            <div class="file-upload">
              <label class="file-label">
                <input type="file" id="bilans" class="input-file" accept=".pdf,.jpg,.png" />
                Attach a file
              </label>
            </div>
          </div>
          <button type="submit" class="button">Submit</button>
        </form>
      <!-- </tab>
    </tabset> -->
  </div>
</div>