<script src="https://kit.fontawesome.com/095e7acecf.js" crossorigin="anonymous"></script>

<nav>
    <div class="sidebar">
        <ul class="sidebar_items">
            <li class="item ham">
                <i class="fas fa-bars"></i> <!-- Icône de menu hamburger -->
            </li>
            <li class="item">
                <a href="#section1"><span class="nombres">Loan Request-Physical Person</span></a>
            </li>
            <li class="item">
                <a href="#section2"><span class="nombres">Loan Request-Moral Person</span></a>
            </li>
            <li class="item">
                <a href="#section3"><span class="nombres">Checkbook Request</span></a>
            </li>
            <li class="item">
                <a href="#section4"><span class="nombres">Credit Card Request</span></a>
            </li>
        </ul>
        <ul class="logout">
            <li class="item">
                <a href="home">
                    <span class="nombres">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="table-container" style="margin-left: 250px;">
    <h2 id="section1">Loan Request-Physical Person</h2>
    <table id="section1" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID Card</th>
                <th scope="col">NSSF</th>
                <th scope="col">Annual receipt</th>
                <th scope="col">Account statement</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-refuse">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="section2">Loan Request-Moral Person</h2>
    <table id="table2" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">RNE</th>
                <th scope="col">Statue</th>
                <th scope="col">Patent</th>
                <th scope="col">The balance sheets</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-refuse">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="section3">Checkbook Request</h2>
    <table id="table3" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quantity of checks</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-refuse">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 id="section4">Credit Card Request</h2>
    <table id="table4" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Annual revenue</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Amir</td>
                <td>Amirlouai02@gmail.com</td>
                <td>99407100</td>
                <td>210000</td>
                <td>soukra</td>
                <td>
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-refuse">Refuse</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
