<div class="cover"></div>

<div class="container">
  <div class="welcome">
    <h3>Welcome to</h3>
    <h1>The Trust Sparks Bank</h1>
  </div>
  <div class="allbtns">
    <a href="/login"><button type="button"><i class="fas fa-users"></i> Login &nbsp;&nbsp;&nbsp; </button></a>
    <a href="/create-user"><button type="button"><i class="fas fa-user"></i> Create Account &nbsp;&nbsp;&nbsp; </button></a>
    <a href="/contact"><button type="button"><i class="fas fa-envelope"></i> Contact &nbsp;&nbsp;&nbsp; </button></a>
  </div>
</div>
